<!--The content below is only a placeholder and can be replaced.-->
<div class="top">
  <div class="topl">
    <img [src]="logo" width="120px" height="50px"/>
  </div>
  <div class="topr">
    <ul>
      <li><a href="#home" >首页</a></li>
    </ul>
  </div>
</div>

<div class="main">
  <div class="left">
    <d-accordion
      [data]="menu"
      class="menu"
      [restrictOneOpen]="restrictOneOpen"
      (itemClick)="itemClick($event)"
      (menuToggle)="menuToggle($event)"
    ></d-accordion>
  </div>
  <div class="right">
    <div class="nav">
      <ul>
          <li><a style="color:cornflowerblue" href="#home">项目成员</a></li>
          <li><a href="#news">待审核</a></li>
      </ul>
    </div>
    <div class="rtop">
      <div class="rtopl">
        <section>  
          <d-search
            [placeholder]="'Please Input keywords'"
            [isKeyupSearch]="true"
            (searchFn)="onSearch($event)"
          ></d-search>
        </section>
      </div>
      <div class="rtopr">
         <section> 
          <d-button icon="icon-add" bsStyle="primary">
            新建
          </d-button>
        </section>
      </div>
    </div>

    <div>
      <d-data-table
        #datatable
        [dataSource]="basicDataSource"
        [scrollable]="true"
        [type]="'striped'"
      >
        <d-column field="$index" header="#" [width]="'50px'"></d-column>
        <d-column
          *ngFor="let colOption of dataTableOptions.columns"
          [field]="colOption.field"
          [header]="colOption.header"
          [fieldType]="colOption.fieldType"
          [width]="'150px'"
        >
        </d-column>
      </d-data-table>

      <d-pagination
        [size]="'sm'"
        [total]="pager.total"
        [(pageSize)]="pager.pageSize"
        [totalItemText]="'总条数'"
        [(pageIndex)]="pager.pageIndex"
        [canViewTotal]="true"
        [canChangePageSize]="true"
        [lite]="true"
        [haveConfigMenu]="true"
      >
        <div class="pagination-config-item">
          <div class="config-item-title">显示字段</div>
          <div class="config-item-words">点击设置</div>
        </div>
        <div class="pagination-config-item">
          <div class="config-item-title">显示方式</div>
          <div style="padding-left:10px;margin-top:4px">
            <i class="icon-list-view"></i>
            <i class="icon-veIcon-briefcase"></i>
          </div>
        </div>
      </d-pagination>
    </div>
  </div>
</div>
